.header {
  height: 95vh;
  background-image: linear-gradient(to top right, rgba($color-primary-dark, 1), rgba($color-primary-light, 0.1)),
    url(./../img/bg-header.jpg);

  background-size: cover;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 66vh, 0 100%);
  position: relative;
}

.header__logo-block {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__logo {
  height: 3.5rem;
}
.header__heading-block {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
