// font size
$font-size-default: 1.6rem;

// background
$bg-primary-light: rgb(253, 127, 139);
$bg-primary: rgb(255, 42, 63);
$bg-primary-dark: #bd2031;
$bg-primary-grey: #f7f7f9;
// colors
$color-primary-light: rgb(253, 127, 139);
$color-primary: rgb(255, 42, 63);
$color-primary-dark: #bd2031;
//btns
$color-primary-btn: #ebd21e;

$color-secondary: #a29cbb;
$color-white: #ffffff;
$color-black: #000000;
$color-grey-border: #efefef;
$color-grey-dark: #999;
$color-grey-darkest: #333;

$color-card-1: #ffb900;
$color-card-2: #ff7730;
$color-card-3: #2998ff;
$color-card-4: #564356;

//  GRID

$grid-row-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;

/*
  RESPONSIVE VARIABLES.

  BREAKPOINTS.
  Phone: 600px
  tab portrait: 601px-900px;
  tab landscape:901px-1200px;
  desktop:1201px-1800px;
  xl.: more than 1800px;
  browser default 1em = 16px
*/

$phone-min-width: 0;
$phone-max-width: 37.5em;

$tab-min-width: 37.51em;
$tab-max-width: 56.25em;

$tab-landspace-min-width: 56.26em;
$tab-landspace-max-width: 75em;

$desktop-min-width: 75.01em;
$desktop-max-width: 112.5em;

$xl-min-width: 112.51em;

$bp-phone: "p";
$bp-tab-portrait: "tl";
$bp-tab-landscape: "tp";
$bp-desktop: "d";
$bp-desktop-xl: "xl";
