// font size
$font-size-default: 1.6rem;
// colors
$color-primary: #7755c5;
$color-primary-light: #ac6fd5c7;
$color-primary-dark: #2a28b4;

$color-secondary: #a29cbb;

$color-white: #ffffff;
$color-black: #000000;

// background

$bg-primary: #a29cbb;
$bg-primary-light: #dfd8fa;
$bg-primary-dark: #373538;

$bg-primary-grey: #f7f7f9;

//  GRID

$grid-row-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
