.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    position: absolute;
    transition: all 0.2s;
    &--p1 {
      top: 2rem;
      left: 1rem;
    }
    &--p2 {
      top: -2rem;
      right: 2rem;
    }
    &--p3 {
      left: 18%;
      top: 16rem;
    }
    &:hover {
      transform: scale(1.4) translateY(1rem);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.8);
      z-index: 1;
      outline: 1rem solid $color-primary;
      outline-offset: 1rem;
      outline-color: rgba($color: $color-primary, $alpha: 0.8);
      outline-style: double;
    }
  }
  &:hover &__photo:not(:hover){
      transform: scale(.8);
  }
}
