.section-about {
  background-color: $bg-primary-grey;
  padding: 25rem 0;
  margin-top: -20rem;
}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.35), rgba($color-primary-dark, 0.66)),
    url(../../img/features/features-bg.jpg);
  transform: skewY(-5deg);
  margin-top: -8rem;
  & > * {
    transform: skewY(5deg);
  }
}
